// Mixin for background color

@mixin has-light-background {
  h1 {
    color: $makina-klein;
  }
  h2 {
    color: $makina-klein;
  }
  h3,
  h4,
  h5,
  h6 {
    color: $makina-violet;
  }
  color: $makina-noir-makina;
}

@mixin has-dark-background {
  h1 {
    color: $makina-vert-makina;
  }
  h2 {
    color: $makina-blanc;
  }
  h3,
  h4,
  h5,
  h6 {
    color: $makina-blanc;
  }
  color: $makina-blanc;
}

@mixin has-green-background {
  h1 {
    color: $makina-klein;
  }
  h2 {
    color: $makina-klein;
  }
  h3,
  h4,
  h5,
  h6 {
    color: $makina-violet;
  }
  color: $makina-blanc;
}

@mixin has-border {
  border: solid 12px $makina-violet;
  box-sizing: border-box;
}

section.has-dark-background {
  @include has-dark-background();
}

section.has-light-background {
  @include has-light-background();
}

.reveal section.logo:after {
  content: '';
  display: block;
  width: 420px;
  height: 60px;
  padding: 10px;
  margin: 40px auto 0 auto;
  background-repeat: no-repeat;
}

.reveal {
  .slide-background {
    &.title {
      @include has-border();
    }
    &.alternate {
      @include has-border();
    }
    &.programme {
      @include has-border();
    }
    &.program {
      @include has-border();
    }
  }

  section {
    text-align: left;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: table;
    &:not(:first-child) {
      margin-top: 20px;
    }
    margin: 0.2em 0;
  }

  h2 {
    font-weight: 800;
  }

  h3,
  h4,
  h5,
  h6 {
    font-weight: 300;
    display: table;
  }

  pre {
    width: 100%;
    font-size: 0.75em;
    code.lang-text {
      background: #3f3f3f;
      color: #dcdcdc;
    }
  }

  section img {
    border: none;
  }

  ul {
    margin: 0;
  }

  ul ul {
    margin: 0;
  }
}

.slide {
  .title {
    background: transparent;
    text-align: center;
  }
  .title h1 {
    font-size: $titleSize;
  }
  .title h2 {
    font-size: $titleSize2;
  }
  .title h1,
  .title h2,
  .title h3,
  .title h4 {
    margin-left: auto;
    margin-right: auto;
  }
  .slides section.programme {
    width: auto;
    margin-left: 280pt;
    width: 525pt;
  }
  .slides section.program {
    width: auto;
    margin-left: 280pt;
    width: 525pt;
  }
}

.reveal .progress span {
  background-color: $makina-capucine;
  padding: 0 0.2em;
  margin: 1px;
  width: auto;
}

.reveal kbd {
  display: inline-block;
  margin: 0 0.2em;
  padding: 0.1em 0.6em;
  line-height: 1.4;
  color: #242729;
  text-shadow: 0 1px 0 #fff;
  background-color: #e1e3e5;
  border: 1px solid #adb3b9;
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(12, 13, 14, 0.2), 0 0 0 2px #fff inset;
  white-space: nowrap;
}

// Background images

.slide {
  .bg-rocks {
    @include has-green-background();
  }
  .bg-dog {
    @include has-green-background();
  }
  .bg-lenin {
    @include has-green-background();
  }
  .bg-lion {
    @include has-green-background();
  }
  .bg-lion-left {
    @include has-light-background();
    h1,
    h2,
    h3,
    h4,
    h5 {
      background-color: transparentize($makina-blanc, 0.5);
    }
  }
  .bg-dog-grey {
    @include has-dark-background();
  }
  .bg-python {
    @include has-green-background();
    h1,
    h2,
    h3,
    h4,
    h5 {
      background-color: transparentize($makina-vert, 0.5);
    }
  }
}

@import 'bg-dog-grey';
@import 'bg-dog';
@import 'bg-lenin';
@import 'bg-lion-left';
@import 'bg-lion';
@import 'bg-python';
@import 'bg-rocks';
