// Primary colors
$makina-vert-makina: #d0dd2a;
$makina-blanc: #ffffff;
$makina-noir-makina: #1b1237;

// Secondary colors
$makina-orpiment: #ffd108;
$makina-capucine: #f85446;
$makina-klein: #221157;

// Accentuation colors
$makina-prairie: #50af55;
$makina-violet: #561fa8;
$makina-vert: #bec931;

// Typo
$makina-gris-violet: #302e38;
$makina-gris-clair: #52505c;
