/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */

// Default mixins and settings -----------------
@import '../template/mixins';
@import '../template/settings';
// ---------------------------------------------

@import './_fonts';
@import './_logo_light';
@import './_makina-colors';

// Override theme settings (see ../template/settings.scss)
$backgroundColor: $makina-blanc;
$backgroundAlternateColor: $makina-noir-makina;

$mainColor: $makina-noir-makina;
$headingColor: $makina-klein;

$mainFontSize: 24px;
$mainFont: 'SourceSansPro Light', 'Roboto Slab', Helvetica, Verdana, sans-serif;
$headingFont: 'SourceSansPro Light', 'Roboto Slab', Helvetica, Verdana,
  sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: normal;
$headingFontWeight: 900;
$linkColor: $makina-capucine;
$linkColorHover: darken($linkColor, 15%);
$selectionBackgroundColor: transparentize(lighten($makina-capucine, 5%), 0.2);

$titleSize: 2.4em;
$titleSize2: 1.8em;
$heading1Size: 1.8em;
$heading2Size: 1.45em;
$heading3Size: 1.25em;
$heading4Size: 1em;

// Theme template ------------------------------
@import '../template/theme';
// ---------------------------------------------

@import './_common';

.reveal {
  @include has-light-background();
}

.reveal .alternate {
  @include has-dark-background();
  background-color: $backgroundAlternateColor;
}

.reveal .progress {
  @include has-dark-background();
  background-color: $backgroundAlternateColor;
}
